*.lnk
*.xyz
.idea/
/0_Multiwfn_Tools/Multiwfn*
/0_Multiwfn_Tools/temp/
/0_Visualization/Temp/
/Automatic_xTB_optimizer_monitoring_list.txt
/Comp_configs.txt
/Experiment_Zone.py
/Known Issue/
/Obsolete/
/Privates/*
/Run_Kinetic_Result/
/Temp/
/test.py
/xTB_Bin/
/xTB_in_Chem3D/
__pycache__/
~$*.*
Config.ini
Config.json
Config.json
Last_Route.*
Last_Route.gjf
Last_Route.inp
Lib/pycp2k
Lib/pycp2k_master
temp.xyz
